
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@mixin make-column($size, $columnsBase) {
  float: left;
  width: percentage($size / $columnsBase);
}

@mixin make-column-offset($size, $columnsBase) {
  margin-left: percentage($size / $columnsBase);
}

@mixin make-column-push($size, $columnsBase) {
  left: if($size > 0, percentage($size / $columnsBase), auto);
}

@mixin make-column-pull($size, $columnsBase) {
  right: if($size > 0, percentage($size / $columnsBase), auto);
}

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}
@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

%grid-column {
  position: relative;
  min-height: 1px;
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
}

@each $grid-breakpoints in map-keys($grid-breakpoints) {

  @each $grid-settings in $grid-settings {
    .col-#{$grid-breakpoints}-gr#{round($grid-settings)} {
      @extend %grid-column;
    }
  }

  @include media-breakpoint-up($grid-breakpoints) {
    @each $grid-settings in $grid-settings {
      .col-#{$grid-breakpoints}-gr#{round($grid-settings)} {
        @include make-column($grid-settings/100, 1);
      }
      .col-#{$grid-breakpoints}-offset-gr#{round($grid-settings)} {
        @include make-column-offset($grid-settings/100, 1);
      }
      .col-#{$grid-breakpoints}-push-gr#{round($grid-settings)} {
        @include make-column-push($grid-settings/100, 1);
      }
      .col-#{$grid-breakpoints}-pull-gr#{round($grid-settings)} {
        @include make-column-pull($grid-settings/100, 1);
      }
    }
  }

  @if $grid-with-bootstrap-columns {

    @for $i from 1 through $grid-columns {
      .col-#{$grid-breakpoints}-#{$i} {
        @extend %grid-column;
      }
    }

    @include media-breakpoint-up($grid-breakpoints) {
      @for $i from 1 through $grid-columns {
        .col-#{$grid-breakpoints}-#{$i} {
          @include make-column($i, $grid-columns);
        }
        .col-#{$grid-breakpoints}-offset-#{$i} {
          @include make-column-offset($i, $grid-columns);
        }
        .col-#{$grid-breakpoints}-push-#{$i} {
          @include make-column-push($i, $grid-columns);
        }
        .col-#{$grid-breakpoints}-pull-#{$i} {
          @include make-column-pull($i, $grid-columns);
        }
      }
    }

  }

}



