$grid-breakpoints: (
  // Extra small screen / phone
        xs: 0,
  // Small screen / phone
        sm: 34em,
  // Medium screen / tablet
        md: 48em,
  // Large screen / desktop
        lg: 62em,
  // Extra large screen / wide desktop
        xl: 75em
) !default;

$grid-gutter-width: 1.875rem !default; // 30px
$grid-columns: 12 !default;

$grid-settings: (
        47.2
        52.8
        38.2
        61.8
        29.2
        70.8
        23.6
        76.4
) !default;

$grid-with-bootstrap-columns: true !default; // Not needed if bootstrap is already available or default classes are not needed
$include-base-styles: true !default; // Not needed if bootstrap is already available